In [1]:
import pandas as pd

In [199]:
#loading from source

s = 'frontyellow-0.8'
s1 = 'Files for task 2 and 4/Object 2/'

In [200]:
c26 = pd.read_csv(s1+s+'/data/026.csv')
c27 = pd.read_csv(s1+s+'/data/027.csv')
c28 = pd.read_csv(s1+s+'/data/028.csv')
c29 = pd.read_csv(s1+s+'/data/029.csv')
c30 = pd.read_csv(s1+s+'/data/030.csv')

In [201]:
c21 = pd.read_csv(s1+s+'/data/021.csv')
c22 = pd.read_csv(s1+s+'/data/022.csv')
c23 = pd.read_csv(s1+s+'/data/023.csv')
c24 = pd.read_csv(s1+s+'/data/024.csv')
c25 = pd.read_csv(s1+s+'/data/025.csv')

In [202]:
c16 = pd.read_csv(s1+s+'/data/016.csv')
c17 = pd.read_csv(s1+s+'/data/017.csv')
c18 = pd.read_csv(s1+s+'/data/018.csv')
c19 = pd.read_csv(s1+s+'/data/019.csv')
c20 = pd.read_csv(s1+s+'/data/020.csv')

In [203]:
c11 = pd.read_csv(s1+s+'/data/011.csv')
c12 = pd.read_csv(s1+s+'/data/012.csv')
c13 = pd.read_csv(s1+s+'/data/013.csv')
c14 = pd.read_csv(s1+s+'/data/014.csv')
c15 = pd.read_csv(s1+s+'/data/015.csv')

In [204]:
c6 = pd.read_csv(s1+s+'/data/006.csv')
c7 = pd.read_csv(s1+s+'/data/007.csv')
c8 = pd.read_csv(s1+s+'/data/008.csv')
c9 = pd.read_csv(s1+s+'/data/009.csv')
c10 = pd.read_csv(s1+s+'/data/010.csv')

In [205]:
c = pd.read_csv(s1+s+'/data/001.csv')
c2 = pd.read_csv(s1+s+'/data/002.csv')
c3 = pd.read_csv(s1+s+'/data/003.csv')
c4 = pd.read_csv(s1+s+'/data/004.csv')
c5 = pd.read_csv(s1+s+'/data/005.csv')

In [206]:
c

Empty DataFrame
Columns: [-5, 0, 1, 2, -15, -6, 6, 19, 27, 32, 38, 45, 51, 57, 53, 55, 59, 55.1, 54, 53.1, 47, 35, 25, 14, 5, -5.1, -16, -27, -30, -34, -39, -44, -47, -50, -56, -56.1, -51, -51.1, -44.1, -37, -32, -31, -28, -22, -20, -6.1, 1.1, 10, 15, 17, 25.1, 29, 33, 35.1, 35.2, 34, 38.1, 36, 34.1, 32.1, 25.2, 17.1, 15.1, 3, -5.2, -7, -10, -6.2, -4, -10.1, -18, -21, -29, -34.1, -30.1, -29.1, -28.1, -20.1, -14, -14.1, -16.1, -14.2, -6.3, -4.1, 2.1, 6.1, 9, 10.1, 11, 12, 14.1, 19.1, 19.2, 15.2, 16, 14.2, 9.1, 3.1, 2.2, 4, ...]
Index: []

[0 rows x 16385 columns]

In [207]:
#Triming the data 

C = [c,c2,c3,c4,c5,c6,c7,c8,c9,c10,c11,c12,c13,c14,c15,c16,c17,c18,c19,c20,c21,c22,c23,c24,c25,c26,c27,c28,c29,c30]

for i in range(0,len(C)):
    cols = range(16384,C[i].shape[1])
    C[i] = C[i].drop(C[i].columns[cols], axis=1)
C[0]

Empty DataFrame
Columns: [-5, 0, 1, 2, -15, -6, 6, 19, 27, 32, 38, 45, 51, 57, 53, 55, 59, 55.1, 54, 53.1, 47, 35, 25, 14, 5, -5.1, -16, -27, -30, -34, -39, -44, -47, -50, -56, -56.1, -51, -51.1, -44.1, -37, -32, -31, -28, -22, -20, -6.1, 1.1, 10, 15, 17, 25.1, 29, 33, 35.1, 35.2, 34, 38.1, 36, 34.1, 32.1, 25.2, 17.1, 15.1, 3, -5.2, -7, -10, -6.2, -4, -10.1, -18, -21, -29, -34.1, -30.1, -29.1, -28.1, -20.1, -14, -14.1, -16.1, -14.2, -6.3, -4.1, 2.1, 6.1, 9, 10.1, 11, 12, 14.1, 19.1, 19.2, 15.2, 16, 14.2, 9.1, 3.1, 2.2, 4, ...]
Index: []

[0 rows x 16384 columns]

In [208]:
# Converting data points to float

for i in range(0,len(C)):
    C[i] = [float(i) for i in  C[i]]

In [209]:
# Naming columns

m = pd.DataFrame(C[0], columns=['001'])
j = 2
for i in range(1,len(C)):
    if j < 10:
        m['00'+str(j)] = C[i]
    else:
        m['0'+str(j)] = C[i]
    j += 1
    
m

,001,002,003,004,005,006,007,008,009,010,...,021,022,023,024,025,026,027,028,029,030
0,-5.000,-12.000,4.000,-48.00,-8.000,-10.000,-2.000,1.000,-4.000,-4.000,...,9.000,0.000,-5.000,-5.000,9.000,6.000,10.000,-64.00,6.000,-6.000
1,0.000,-11.000,5.000,-47.00,-6.000,-8.000,-4.000,1.100,-3.000,-4.100,...,9.100,4.000,-2.000,0.000,6.000,6.100,10.100,-61.00,5.000,-6.100
2,1.000,-5.000,6.000,-53.00,-4.000,-4.000,-5.000,2.000,-7.000,-3.000,...,9.200,5.000,-4.000,6.000,3.000,-47.000,5.000,-61.10,5.100,-7.000
3,2.000,-2.000,6.100,-45.00,-3.000,-1.000,-8.000,7.000,-1.000,11.000,...,10.000,13.000,-4.100,8.000,2.000,-41.000,1.000,-63.00,6.100,-42.000
4,-15.000,-35.000,6.200,-40.00,0.000,-59.000,28.000,-62.000,49.000,20.000,...,18.000,-53.000,-6.000,-33.000,-23.000,-36.000,45.000,-66.00,46.000,-51.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16379,6.400,-7.422,4.479,-48.35,-6.247,-6.240,4.413,-1.570,3.503,1.501,...,7.405,2.573,-9.357,5.430,-5.540,-3.493,-1.537,-63.37,3.531,-4.515
16380,3.547,-3.539,4.480,-49.30,-9.177,-4.271,1.520,-5.478,8.351,1.502,...,12.246,1.530,-8.349,3.487,-2.515,-1.550,-4.499,-63.38,9.334,-6.439
16381,-1.515,-7.423,4.481,-49.31,-8.198,-6.241,0.547,-2.572,9.299,1.503,...,14.186,1.531,-7.434,-1.584,1.572,0.570,-5.491,-65.32,11.271,-8.356
16382,-6.467,-7.424,-2.569,-50.43,-7.241,-6.242,5.431,2.528,5.489,-3.565,...,13.231,0.549,-7.435,-6.492,5.463,3.550,5.494,-63.39,15.129,-6.440
16383,-6.468,-10.326,-2.570,-50.44,-5.293,-2.291,6.400,-1.571,1.518,0.462,...,12.247,-1.539,-7.436,-7.486,6.451,8.399,10.287,-63.40,12.211,-8.357

In [210]:
#save the csv file

m.to_csv('frontyellow-0.8.csv', index=False)

In [211]:
#load the csv file

k = pd.read_csv('frontyellow-0.8.csv')
k

,001,002,003,004,005,006,007,008,009,010,...,021,022,023,024,025,026,027,028,029,030
0,-5.000,-12.000,4.000,-48.00,-8.000,-10.000,-2.000,1.000,-4.000,-4.000,...,9.000,0.000,-5.000,-5.000,9.000,6.000,10.000,-64.00,6.000,-6.000
1,0.000,-11.000,5.000,-47.00,-6.000,-8.000,-4.000,1.100,-3.000,-4.100,...,9.100,4.000,-2.000,0.000,6.000,6.100,10.100,-61.00,5.000,-6.100
2,1.000,-5.000,6.000,-53.00,-4.000,-4.000,-5.000,2.000,-7.000,-3.000,...,9.200,5.000,-4.000,6.000,3.000,-47.000,5.000,-61.10,5.100,-7.000
3,2.000,-2.000,6.100,-45.00,-3.000,-1.000,-8.000,7.000,-1.000,11.000,...,10.000,13.000,-4.100,8.000,2.000,-41.000,1.000,-63.00,6.100,-42.000
4,-15.000,-35.000,6.200,-40.00,0.000,-59.000,28.000,-62.000,49.000,20.000,...,18.000,-53.000,-6.000,-33.000,-23.000,-36.000,45.000,-66.00,46.000,-51.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16379,6.400,-7.422,4.479,-48.35,-6.247,-6.240,4.413,-1.570,3.503,1.501,...,7.405,2.573,-9.357,5.430,-5.540,-3.493,-1.537,-63.37,3.531,-4.515
16380,3.547,-3.539,4.480,-49.30,-9.177,-4.271,1.520,-5.478,8.351,1.502,...,12.246,1.530,-8.349,3.487,-2.515,-1.550,-4.499,-63.38,9.334,-6.439
16381,-1.515,-7.423,4.481,-49.31,-8.198,-6.241,0.547,-2.572,9.299,1.503,...,14.186,1.531,-7.434,-1.584,1.572,0.570,-5.491,-65.32,11.271,-8.356
16382,-6.467,-7.424,-2.569,-50.43,-7.241,-6.242,5.431,2.528,5.489,-3.565,...,13.231,0.549,-7.435,-6.492,5.463,3.550,5.494,-63.39,15.129,-6.440
16383,-6.468,-10.326,-2.570,-50.44,-5.293,-2.291,6.400,-1.571,1.518,0.462,...,12.247,-1.539,-7.436,-7.486,6.451,8.399,10.287,-63.40,12.211,-8.357

In [17]:
m.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16384 entries, 0 to 16383
Data columns (total 30 columns):
001    16384 non-null float64
002    16384 non-null float64
003    16384 non-null float64
004    16384 non-null float64
005    16384 non-null float64
006    16384 non-null float64
007    16384 non-null float64
008    16384 non-null float64
009    16384 non-null float64
010    16384 non-null float64
011    16384 non-null float64
012    16384 non-null float64
013    16384 non-null float64
014    16384 non-null float64
015    16384 non-null float64
016    16384 non-null float64
017    16384 non-null float64
018    16384 non-null float64
019    16384 non-null float64
020    16384 non-null float64
021    16384 non-null float64
022    16384 non-null float64
023    16384 non-null float64
024    16384 non-null float64
025    16384 non-null float64
026    16384 non-null float64
027    16384 non-null float64
028    16384 non-null float64
029    16384 non-null float64
030    16384 non-null float64
dtypes: float64(30)
memory usage: 3.8 MB